<?xml version="1.0" encoding="UTF-8"?>
<Server port="-1" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <Service name="WebApp">
    <Executor name="tomcatThreadPool" namePrefix="catalina-exec-" maxThreads="150" minSpareThreads="4"/>
    <Connector
        protocol="HTTP/1.1"
        port="8080"
        executor="tomcatThreadPool"
        connectionTimeout="60000"
        server=""
        xpoweredBy="false"
        allowTrace="false"
        SSLEnabled="false"
        secure="false"
        scheme="http"
        redirectPort="8443" />

    <Engine name="WebApp" defaultHost="statichost">
      <Realm className="org.apache.catalina.realm.LockOutRealm"
          failureCount="3"
          lockOutTime="600"
          cacheSize="1000"
          cacheRemovalWarningTime="3600">
        <Realm className="org.apache.catalina.realm.DataSourceRealm"
            localDataSource="true" />
      </Realm>
      <Host name="statichost"
          appBase="/webapps"
          autoDeploy="false"
          deployOnStartup="false"
          unpackWARs="false">
        <Context path="" docBase="ROOT"></Context>
        <Valve
            className="org.apache.catalina.valves.AccessLogValve"
            directory="/dev"
            prefix="stdout"
            suffix=""
            rotatable="false"
            pattern="ACCESS: %h %l %u %t &quot;%r&quot; %s %b" />
      </Host>
    </Engine>
  </Service>
</Server>
